@import './root.css';

/* Sobre */
.interna__sobre {
    background: url('../assets/bg-sobre.jpg') no-repeat center;
	background-size: cover;
}

.missao__sobre {
	padding-top: 60px;
}

.missao__sobre p {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px
}

.missao__sobre ul li {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 30px;
}

.foto__equipe {
	padding-top: 20px;
}