@import './root.css';

/* Display de Tablet */
@media only screen and (min-width: 788px) and (max-width: 979px) {

}

/* Display para Smartphone */
@media only screen and (max-width: 787px) {
  /* Menu de Navegação */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header__menu {
    text-align: center;
  }

  .header__menu ul li {
    margin:  5px;
  }

  .header__menu ul li a {
    border: 4px solid var(--black-standard);
    width: 136px;
    display: block;
    float: left;
  }

  .header__menu ul li a:hover {
    border-color: var(--white-standard)
  }

  /* Introdução */
  .introducao {
    margin-top: 0;
    padding-top:  20px;
    background: url('../assets/bg-mobile.jpg') no-repeat center;
    background-size: cover;
  }
}
